.flag {
	position: relative;
	display: flex;
	cursor: pointer;

	&__label {
		// display: flex;
		// flex-wrap: wrap;
		margin-left: 10rem;
		line-height: 24rem;
	}

	input {
		height: 16rem;
		width: 16rem;
		top: 3rem;
		border: 1rem solid transparent;

		position: relative;
		appearance: none;
		padding: 0;
		vertical-align: middle;
		flex-shrink: 0;
		background-color: transparent;
		background-origin: border-box;
		background-size: 100% 100%;
		background-position: 50%;
		background-repeat: no-repeat;
		background-color: currentColor;
		cursor: pointer;
		transition: .1s;

		&:checked {
			border-color: transparent;
		}

		&[type="radio"] {
			border-radius: 50%;

			&:checked {
				background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 16 16' fill='%23fff' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='8' cy='8' r='3'/%3E%3C/svg%3E");
			}
		}

		&[type="checkbox"] {
			border-radius: 2rem;

			&:checked {
				background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 16 16' fill='%23fff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.207 4.793a1 1 0 0 1 0 1.414l-5 5a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L6.5 9.086l4.293-4.293a1 1 0 0 1 1.414 0z'/%3E%3C/svg%3E");
			}
		}
	}

	&.flag_disabled {

		&,
		input {
			cursor: default;
		}
	}


	// VARIANTS
	&_primary {
		input {
			color: $w;
			border-color: $primary;

			&:not(:disabled):hover {
				color: transparentize($primary, 0.9);

				&:checked {
					color: $primary-light;
				}
			}

			&:checked {
				color: $primary;
			}
		}

		&.flag_disabled {
			.flag__label {
				color: $gray4;
			}

			input {
				border-color: $gray4;

				&:checked {
					color: $gray4;
				}
			}
		}
	}
}
